.DS_Store
# Ignore dataset folder
/Data/
Data/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
venv/
.vscode/

# Byte-compiled / optimized / DLL files
*.so
